* {
	padding:  0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	
}
body {
	font-family:  "Montserrat", sans-serif;
	background-color: #95A5A6;
}

.banner { 
	background-image: linear-gradient(rgba(0,0,0,0.75), 
	rgba(0, 0, 0, 0.75)), 
	url(https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	box-shadow: 0 20px 20px -20px #333;
	border-radius:  0;
 }
#devpic {
	width: 200px;
	width: 250px;

}
 
 #navlinks {
 	position: relative;
 	text-decoration: none;
 	margin-right: 6rem;
 	
 	color: white;
 	
 }

 #navlinks:hover {

 	color:  #FF835F;
 }
#devpic {
	width: 300px;
	height: 300px;
	filter: grayscale(40%);
}


         .btn-grad {background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            font-family: montserrat;
            font-weight: bold;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
